/* Link to color scheme

https://www.google.com/search?q=rust+color+schemes&rlz=1C5CHFA_enUS910US910&sxsrf=ALeKk00qrdBCfqmjYxIp7IoHzdldXTkhDA:1602002075229&tbm=isch&source=iu&ictx=1&fir=ovrL0YVXhzpqRM%252CMrq6wx7dcKfnAM%252C_&vet=1&usg=AI4_-kQprJuT1JMTfrnxJrJu3FYndv1N9A&sa=X&ved=2ahUKEwicgf7ksqDsAhXlmXIEHc8BCf0Q9QF6BAgSEFQ&biw=1449&bih=657#imgrc=ovrL0YVXhzpqRM */

/*  The below outline selector is only for debuuging */
 /* * {
    outline: solid 1px red;
}  */

body {
    margin: auto 0;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* index header */
#timer {
    font-size: 2rem;
    font-weight: 900;
    color: rgb(98, 126, 112);
}

/* link to the high Score */
.score {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(199, 50, 13);
}

/* link to the high Score */
.playAgainLink,
.highScoreLink {
    font-size: 1.25rem;
    color: rgb(98, 126, 112);
}

/* index Question */
#question {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

/* index Question Number */
#questionNum {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

/* index answer choices Buttons */
.btn {
    color: white;
    background-color: sienna;
    border: solid 1px sienna;
    border-radius: 4 px;
    margin: 10px 0;
    display: block;
    width: 10rem;
}

hr {
    border: solid 2px #fa3;
    margin: 0 0 1rem 0 ;

}

/* if answer is correct make type blue  */
.correct{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: teal;
}

/* if answer Incorrect make type red  */
.incorrect{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: rgb(255, 6, 6);
}

.hideSection {
    display: none;
}

.introHeader,
.highScoresHeader {
    font-size: 2rem;
    font-weight: 900;
    /* margin-top: 1rem; */
    color: sienna 
}

.introText {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .75rem;
    line-height: 1.25rem;
}

span {
    font-weight: 800;
    color: goldenrod;
}